<!-- About CONTENT HTML GOES HERE -->
<div class="grid" style="margin-top: 3rem">
  <section>
    <hgroup>
      <h2>My Name is Ahmed</h2>
      <h3>Fullstack Javascript Devloper</h3>
    </hgroup>
    <p>
      I share tips and tricks on how to break JavaScript Industry Standards.
    </p>
    </p>
    <blockquote>
        If you are exsited to join the community and learn new things, I am happy to have you on Twitter. 
        <footer>
          <cite>- <a href="https://twitter.com/ahmedrowaihi">twitter: @ahmedrowaihi</a></cite>
        </footer>
      </blockquote>
  </section>
</div>
