<!-- HOME CONTENT HTML GOES HERE -->
<div class="grid">
  <article>
    <hgroup>
      <h2>A bare minimum Single Page Application</h2>
      <h3>It's Pretty Simple!</h3>
    </hgroup>
    <p>
      You don't need React, Vue, Svelte or Angular to create a Single Page
      Application!.
    </p>
    <p>it can be done with a simple HTML, CSS and Javascript.</p>
    <ul>
      <li>Define Routes and Build Their HTML Content.</li>
      <li>Prevent Browser from refreashing on Link Clicks.</li>
      <li>Re-Render View Element HTML Conent! That's It!!</li>
    </ul>
    <blockquote>
      "https://www.youtube.com/watch?v=ZleShIpv5zQ"
      <footer>
        <cite>- MitchDev </cite>
      </footer>
    </blockquote>
  </article>
</div>
